body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ui.teal.button{
  margin: auto;
  
}

.ui.toggle.checkbox{
  float: left;
  padding-top: 1em
}

.ui.basic.segment.complaintsContainerSegment{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
}

.teacherClassesStudentsTab{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.teacherClassesStudentsTabB{
  margin-right: 2em;
}

.teacherClassesStudentsTabParent{
  display: flex;
  flex-direction: row;
}
