body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ui.teal.button{
  margin: auto;
  
}

.ui.toggle.checkbox{
  float: left;
  padding-top: 1em
}

.ui.basic.segment.complaintsContainerSegment{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 30px;
}

.teacherClassesStudentsTab{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.teacherClassesStudentsTabB{
  margin-right: 2em;
}

.teacherClassesStudentsTabParent{
  display: flex;
  flex-direction: row;
}



.ui.segment.teacherStudentsTabHomework{
  width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
  height: 455px;
}

.ui.text.container.homeworkContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  width: 650px;
  overflow: hidden
}

.ui.text.container.eachHomework{
  width: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 12px;
  margin-bottom: 30px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}


.studentCard{
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ui.segment.studentContainer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  background-image: url('https://www.fourpeaksforteachers.org/wp-content/uploads/2019/08/AdobeStock_214316329.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.homeworkText{
  text-align: center;
  margin-left: 10px;
}




.mainpage {
  text-align: center;
  width: 1200px;
  margin-left: 350px;
  margin-bottom: 50px;
}

.imagez {
  width: 480px;
  height: 300px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 30px;
}

.linktext {
  margin-top:40px;
  font-size:20px;
  font-style: italic;
  font-weight: bold;
  color:rgb(29, 26, 219)
}

.newsheader {
  margin-top:40px;
  font-size:40px;
  font-style: italic;
  font-weight: bold;
}

.subjectheader{
  margin-top:40px;
  font-size:50px;
  font-style: italic;
  font-weight: bold;
}

.segmentz{
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
}
/* /////////////////////////////////////////// */
.thetabs {
  font-family:'Courier New', Courier, monospace;
  background: #aca479;
  padding: 20px;
}

.theform {
  text-align: center;
  width: 800px;
  margin-bottom: 50px;
  margin-left: 100px;
}

.complaintz {
  text-align: center;
  font-size:50px;
  font-style: italic;
  font-weight: bold;
  margin-top:100px;
}

.complaintsbox {
  width: 1000px;
  height: 300px;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 20px;
  margin-left: 470px;
  margin-top: 100px;
  background: #aca479;
}

.logout {
  margin-left: 700px;
}

.ui.grid.gridCustom{
  display: flex;
  justify-content: center;
}

.six.wide.column.gridCustom2{
  text-align: center;
}

.ui.segment.studentGrades{
  height: 455px;
}

.tablesContainer{
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
}

.headerNameStuff{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}